body {
  background-color: #ffff;
}

.boDy {
  background-attachment:fixed;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

#windowChat {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px 30px;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
}

input {
  margin-bottom: 20px;
  padding: 15px;
  background: none;
  border-radius: 5px 15px;
  font-size: 17px;
  font-family: 'Courier New', Courier, monospace;
  width: 300px;
}

input::placeholder {
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
}

button {
  display: inline-block;
  border-radius: 4px;
  background-color: #152e22;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 15px;
  width: 200px;
  cursor: pointer;
  margin: 5px 0 20px 0;
  opacity: 0.6;
  transition: 0.3s;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

button:hover {
  opacity: 1;
}

button:active {
  background-color: #152e22;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#answers {
  margin-bottom: 50px;
  margin-top: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  padding: 0 20px 0 20px;
  text-align: center;
  line-height: 35px;
}
